<%- partial('_partial/logo') %>

<div id="about">
<div id="ddg">
<img id="ddgimg" src="/images/diediegao.png"></img>
</div>

<div id="page_content">
<blockquote>
一个混迹在工厂的打工仔
</blockquote>
<br/>
<span>github:&nbsp<a href="https://github.com/<%- theme.contact.github %>"><%- theme.contact.github %></a></span>
<br/>
<br/>

<span>email:&nbsp&nbsp<a href="mailto:<%- theme.contact.email %>"><%- theme.contact.email %></a></span>

</div>
</div>

<%- partial('_partial/footer') %>
